@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}



.hero {
  width: 100%;
 
  overflow: hidden; /* Hides the images outside the container */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  position: relative;
}

.slider {
  display: flex;
  width: 300%; /* Adjust according to the number of images (100% * number of slides) */
  animation: slideRight 50s ease-in-out infinite; /* Adjust timing as needed */
}

.slider-image {
  width: 100%;
  height: 100%; /* Ensures the images fill the container */
  object-fit: cover; /* Makes sure the images cover the area without distortion */
  flex-shrink: 0; /* Prevents the images from shrinking */
}

/* Keyframes for the sliding animation */
@keyframes slideRight {
  0% {
    transform: translateX(0%); /* Start at the first image */
  }
  33% {
    transform: translateX(-100%); /* Move to the second image */
  }
  66% {
    transform: translateX(-200%); /* Move to the third image */
  }
  100% {
    transform: translateX(0%); /* Go back to the first image */
  }
}